:root {
  --purple: #800080;
  --light-text-color: #fefefe;
  --black: #000;
  --white: #fff;
  --neon-green: #39ff14;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

/* Exercise 01 - Center */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  background: var(--purple);
  color: var(--light-text-color);
  font-size: 1.75rem;
  text-align: center;
}

h1 {
  text-align: center;
}

/* Common styles for Flexbox and CSS Grid */
.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--light-text-color);
  font-size: 2em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 10px;
}

/* Exercise 02 - Flexbox */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  padding: 0 1rem;
  height: 100px;
}

.h1 {
  font-size: 1.75rem;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-size: 1.1rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--white);
  transition:
    color 0.3s,
    text-decoration-color 0.3s;
}

.nav-list li a:hover {
  color: var(--neon-green);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.main {
  display: flex;
  align-items: stretch;
  gap: 0.8rem;
  padding: 1rem 4rem;
}

.section {
  flex: 1 1 0;
  padding: 1.5rem 1rem 0.5rem 1rem;
  border: 1px solid var(--black);
  border-radius: 15px;
}

.section h2 {
  font-size: 1.25rem;
}

.section p {
  font-size: 0.8rem;
}

.section figure {
  margin: 1rem;
}

.section img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

.section figcaption {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  height: 60px;
  font-size: 0.8rem;
}

/* Exercise 03 - CSS Grid */

.grid-main {
  margin: 0rem 0.5rem 2rem 0.5rem;
}

.grid-container {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4fr 1fr 1fr;
  gap: 5px;
}

.item1 {
  grid-column: 1 / span 3;
}

.item2 {
  grid-column: 1 / span 2;
}

.item4 {
  grid-column: 2;
}

.item6 {
  display: none;
}

.item7 {
  grid-column: 1;
  grid-row: 3;
}

.item8 {
  grid-column: 1 / span 3;
  grid-row: 4;
}
/* Exercise 04 - CSS Grid Areas */
